body img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    height: auto;
    max-width: 100%;
}
body .pubdate {
    border-bottom: none;
    text-align:left;
}
figcaption {
    text-align: center;
}
.linenr {
/* make line numbers non-selectable to ease copy-and-paste of code blocks */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    /* on mobile devices: prohibit menu on long-touch */
    -webkit-touch-callout: none;      /* disables the callout */
    color: #4E9A06;
}
.src {
    border: 0px !important;
    padding-top: 1.2em;
    /*: ; 50px for top-left and bottom-right corners;
     : 20px; for top-right and bottom-left cornerns. */
    border-radius: 50px 20px !important;
    color: #73D216;
}

body pre {
  background: black;
}

pre.src:before {
    /* border: 0px !important; */
    /* background-color: inherit !important; */
    margin-top: 1em;
    padding: 3px !important;
    border-radius: 10px 10px !important;
    font-weight:700
}
 /* set wrapping for lengthy lines in code blocks */
pre{
    white-space:pre;
    /*box-shadow: 3px 3px 3px #73D216;*/
    box-shadow: none;
;
}
/* similarly to src blocks, handle example blocks (babel output) */
pre.example {
  font-size: smaller;
  position: relative;
  overflow: auto;
  white-space: pre;
  width: 100%;
  left: 0em;
  transition: all 0.5s;
 }
/* the label for output is static though */
pre.example:before {
  font-size: smaller;
  margin-top: 0.1em;
  padding: 3px !important;
  left: 0em;
  display: block;
  position: sticky;
  color: #555;
  text-align: center;
  background-color: #f2f2f299;
  content: 'output';
}

/* enlarge output blocks when hovering the mouse over them */
pre.example:hover{
  width: 90vw;
  left: calc(-47vw + 50%);
}



/* make code more readable on dark backgrounds */
.org-string {color: orange;}
.org-builtin {color: orangered;}
.org-variable-name { color: orange; }
.org-comment { color: mediumpurple; }
.org-comment-delimiter { color: mediumpurple; }
.org-function-name { color: orange; }

 /* Also curvy inline code with ~ ⋯ ~ and = ⋯ = */
 body code {
     /* background: Cyan !important; */
     background: black !important;
     color: #73D216;
     border: none;
     padding: 3px;
     border-radius: 3px;
     /* border: 1px solid lightgrey; background: #FFFFE9; padding: 2px */
 }

/* quotes as white on darkgreen background blocks
blockquote {
    background: darkgreen;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    margin: 1.5em;
    padding: 0.25em 1.25em;
}
blockquote p {
    display: inline;
    color: white;
}
*/

/* nice looking quotes */
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    color: black;
}

/* How note blocks are formated */
.notes {
    color: white;
    background: darkgreen;
    border: solid 1px palegreen;
    border-radius: 6px;
    padding: 6px;
}
