@font-face {
  font-family: "fanwood";
  src: url("/fonts/fanwood-webfont.woff");
  font-style: normal;
}
@font-face {
  font-family: "fanwood";
  src: url("/fonts/fanwood_italic-webfont.woff");
  font-style: italic;
}
@font-face {
  font-family: "fanwood-text";
  src: url("/fonts/fanwood_text-webfont.woff");
  font-style: normal;
}
@font-face {
  font-family: "fanwood-text";
  src: url("/fonts/fanwood_text_italic-webfont.woff");
  font-style: italic;
}

/* how to do a proper fallback:
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
