.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-display: auto;
    font-family: monospace, monospace; }
.logo img {
    height: 44px; }
.logo__mark {
    margin-right: 5px;
    /* font-size: 1.125rem; */
}
.logo__text {
    /* font-size: 1.125rem; */
}
.logo__cursor {
    display: inline-block;
    width: .6em;
    height: .86em;
    background: #bce8d9ff;
    margin-left: 0.12em;
    border-radius: 0.05em;
    animation: cursor 1s infinite; }
@media (prefers-reduced-motion: reduce) {
    .logo__cursor {
        animation: none; } }

@keyframes cursor {
    0% {
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        opacity: 0; } }
