<div class='footer'>
    Copyright © 2021 <a href='mailto:hanno@hoowl.se'>Hanno</a><br>
    Concept art and logo by <a href='http://abohemianpeasant.com/'>Melisa Özdilek</a><br>
    Code adapted from <a href='https://nicolas.petton.fr'>https://nicolas.petton.fr</a> and various other sources of inspiration. <br>
    Last updated on %C using %c
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/images/cc-by-sa-4.0-80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>
