<link rel='icon' type='image/x-icon' href='/images/favicon.ico'/>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' href='/css/fonts.css' type='text/css'/>
<link rel='stylesheet' href='/css/logo.css?v=2' type='text/css'/>
<link rel='stylesheet' href='/css/site.css?v=2' type='text/css'/>
<link rel='stylesheet' href='/css/syntax-coloring.css' type='text/css'/>
<link rel='stylesheet' href='/css/custom.css' type='text/css'/>
