<div class='intro'>
    <a href='/'>
        <img src='/images/hoowl-logo-archivo_light.svg' alt="hoowl"><br />
        <h1 style='text-decoration: none;text-decoration: none;
                   display: flex;
                   align-items: center;
                   justify-content: space-between;
                   margin: 0 auto;
                   width: 360px;
                   max-width: 100%;'>
            <div class='logo'>
                <span class='logo__mark'>></span>
                <span class='logo__text'>/home/hanno/</span>
                <span class='logo__cursor'> </span>
            </div>
        </h1>
    </a>
    <p>Physicist, Emacser, Digitales Spielkind</p>
</div>

<div style='display: none'>
    <svg xmlns='http://www.w3.org/2000/svg'><symbol id='mastodon-svg-logo' viewBox='0 0 216.4144 232.00976'><path d='M107.86523 0C78.203984.2425 49.672422 3.4535937 33.044922 11.089844c0 0-32.97656262 14.752031-32.97656262 65.082031 0 11.525-.224375 25.306175.140625 39.919925 1.19750002 49.22 9.02375002 97.72843 54.53124962 109.77343 20.9825 5.55375 38.99711 6.71547 53.505856 5.91797 26.31125-1.45875 41.08203-9.38867 41.08203-9.38867l-.86914-19.08984s-18.80171 5.92758-39.91796 5.20508c-20.921254-.7175-43.006879-2.25516-46.390629-27.94141-.3125-2.25625-.46875-4.66938-.46875-7.20313 0 0 20.536953 5.0204 46.564449 6.21289 15.915.73001 30.8393-.93343 45.99805-2.74218 29.07-3.47125 54.38125-21.3818 57.5625-37.74805 5.0125-25.78125 4.59961-62.916015 4.59961-62.916015 0-50.33-32.97461-65.082031-32.97461-65.082031C166.80539 3.4535938 138.255.2425 108.59375 0h-.72852zM74.296875 39.326172c12.355 0 21.710234 4.749297 27.896485 14.248047l6.01367 10.080078 6.01563-10.080078c6.185-9.49875 15.54023-14.248047 27.89648-14.248047 10.6775 0 19.28156 3.753672 25.85156 11.076172 6.36875 7.3225 9.53907 17.218828 9.53907 29.673828v60.941408h-24.14454V81.869141c0-12.46875-5.24453-18.798829-15.73828-18.798829-11.6025 0-17.41797 7.508516-17.41797 22.353516v32.375002H96.207031V85.423828c0-14.845-5.815468-22.353515-17.417969-22.353516-10.49375 0-15.740234 6.330079-15.740234 18.798829v59.148439H38.904297V80.076172c0-12.455 3.171016-22.351328 9.541015-29.673828 6.568751-7.3225 15.172813-11.076172 25.851563-11.076172z' /></symbol></svg>
    <svg xmlns='http://www.w3.org/2000/svg'><symbol id="gitlab-svg-logo" viewBox="120 100 338.97595 313.43991"><path d="M461.48,298.35,443.7,243.72a7.72,7.72,0,0,0-.43-1.47L407.6,132.45a14.18,14.18,0,0,0-13.54-9.67,13.94,13.94,0,0,0-13.38,9.75l-34,104.63H239.37L205.32,132.53A13.94,13.94,0,0,0,192,122.78h-.08a14.22,14.22,0,0,0-13.5,9.76L142.72,242.47c0,.1-.08.18-.11.28l-18.1,55.61a20.29,20.29,0,0,0,7.37,22.71L288.26,434.7a8,8,0,0,0,9.45-.05l0,0L454.12,321.07A20.28,20.28,0,0,0,461.48,298.35ZM227.73,253.22l43.59,134.16L166.68,253.22Zm87,134.19,41.8-128.62,1.8-5.57h61.1L324.76,374.5Zm79.47-244.58,30.63,94.33H363.52ZM341.49,253.16l-30.37,93.46L293,402.28,244.58,253.16ZM191.85,142.83l30.69,94.33H161.27Zm-50.56,165.3a4.31,4.31,0,0,1-1.56-4.83L153.17,262l98.57,126.37Zm303.43,0L334.26,388.34l.37-.48L432.83,262l13.44,41.28A4.31,4.31,0,0,1,444.72,308.12Z"/></symbol></svg>
    <svg xmlns='http://www.w3.org/2000/svg'><symbol id='github-svg-logo' viewBox="0 0 1024 1024"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)"/></symbol></svg>
    <svg xmlns="http://www.w3.org/2000/svg"><symbol id='bitbucket-svg-logo' viewBox="0 0 54 54"> <style type="text/css"> .st0{fill:none;}</style><g><rect x="-0.2" y="0.1" class="st0" width="53.8" height="53.4"/>	            <path d="M48.1,12.9v26.8c0,2.2-0.8,4.1-2.4,5.7c-1.6,1.6-3.5,2.4-5.7,2.4H13.3c-2.2,0-4.1-0.8-5.7-2.4c-1.6-1.6-2.4-3.5-2.4-5.7 V12.9c0-2.2,0.8-4.1,2.4-5.7c1.6-1.6,3.5-2.4,5.7-2.4H40c2.2,0,4.1,0.8,5.7,2.4C47.3,8.8,48.1,10.7,48.1,12.9z M40.7,15.7 c0.2-1,0.1-1.7-0.2-2.1c-0.8-1-2.2-1.8-4.3-2.5c-4-1.2-8.5-1.5-13.6-1c-2.5,0.2-4.6,0.7-6.3,1.3c-0.7,0.3-1.3,0.5-1.7,0.7 c-0.4,0.2-0.8,0.5-1.3,0.9c-0.5,0.4-0.7,0.9-0.8,1.5c0.1,1.3,0.3,2.5,0.5,3.9c0.2,1.3,0.5,2.9,0.8,4.8s0.6,3.2,0.7,3.8 c0,0.1,0.1,0.4,0.1,0.9c0.1,0.5,0.1,0.8,0.2,1s0.2,0.4,0.3,0.8s0.4,0.6,0.6,0.8c2,1.5,4.6,2.4,7.9,2.8c4.8,0.5,8.9-0.1,12.3-1.8 c0.4-0.2,0.8-0.5,1.1-0.6c0.3-0.2,0.6-0.5,0.9-0.8c0.3-0.4,0.5-0.7,0.5-1.1C39.4,23.9,40.1,19.5,40.7,15.7z M37.1,35 c0-0.1,0.1-0.4,0.2-0.7s0.1-0.7,0.1-0.9c0-0.2-0.2-0.4-0.5-0.5c-3,2-6.4,3-10.2,3c-3.8,0-7.2-1-10.2-3l-0.3,0.2L16,33.4 c0.5,2.9,0.9,4.8,1.1,5.9c0.9,1.5,2.8,2.5,5.7,3c4.6,0.9,8.6,0.4,11.9-1.5c0.6-0.4,1.1-0.8,1.4-1.4c0.3-0.6,0.5-1.4,0.6-2.4 C36.9,36,37,35.3,37.1,35z M35.9,14.2c-0.4,0.4-0.9,0.7-1.5,0.9c-0.6,0.2-1.1,0.4-1.5,0.4c-0.4,0.1-1,0.1-1.8,0.2 c-2.9,0.4-5.9,0.4-9,0c-0.8-0.1-1.4-0.2-1.8-0.3c-0.4-0.1-0.8-0.2-1.5-0.4c-0.6-0.2-1.1-0.5-1.5-0.9c0.2-0.4,0.6-0.6,1-0.9 s0.8-0.4,1.1-0.4c0.3-0.1,0.8-0.1,1.3-0.2c3.7-0.7,7.5-0.7,11.4,0c0.6,0.1,1.1,0.2,1.4,0.2c0.3,0.1,0.7,0.2,1.2,0.4 C35.3,13.5,35.6,13.8,35.9,14.2z M31.1,25.1c0.1,1.2-0.2,2.4-1,3.4s-1.8,1.6-3.1,1.7c-1.2,0.1-2.3-0.3-3.3-1.1 c-1-0.9-1.5-1.9-1.6-3.2c0-0.9,0.2-1.8,0.7-2.6c0.5-0.8,1.2-1.4,2-1.8c1.3-0.6,2.6-0.5,3.9,0.3S30.9,23.7,31.1,25.1z M28.9,25.5 c0-0.8-0.4-1.4-1.1-1.8c-0.8-0.4-1.5-0.4-2.1,0c-0.8,0.4-1.2,1-1.2,2c0,1,0.4,1.6,1.2,2c0.7,0.4,1.5,0.4,2.3-0.1 C28.7,27,29,26.4,28.9,25.5z"/></g></symbol></svg>
    <svg xmlns="http://www.w3.org/2000/svg"><symbol id='email-svg' class="feather" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></symbol></svg>
</div>

<nav class='nav'>
    <ul>
        <li>
            <a href='mailto:hanno@hoowl.se' rel="me">
                <svg role="img" aria-label="contact via eMail" viewBox='0 0 216.4144 232.00976'><use xlink:href='#email-svg' />
                    <title>contact via eMail</title>
                </svg>
            </a>.</li>
        <li><a href='http://gitlab.com/hperrey' rel="me">
            <svg role="img" aria-label='GitLab logo' viewBox='0 0 216.4144 232.00976'><use xlink:href='#gitlab-svg-logo' />
                <title>my repositories on GitLab</title>
            </svg></a>.</li>
        <li><a href='http://github.com/hperrey' rel="me">
            <svg role="img" aria-label='GitHub logo' viewBox='0 0 216.4144 232.00976'><use xlink:href='#github-svg-logo' />
                <title>my repositories on GitHub</title>
            </svg></a>.</li>
        <li><a href='http://bitbucket.org/hannoperrey' rel="me">
            <svg role="img" aria-label='Bitbucket logo' viewBox='0 0 216.4144 232.00976'><use xlink:href='#bitbucket-svg-logo' />
                <title>my repositories on Bitbucket</title>
            </svg></a>.</li>
        <li><a href='http://fosstodon.org/@hanno' rel="me">
            <svg role="img" aria-label='Mastodon logo' viewBox='0 0 216.4144 232.00976'><use xlink:href='#mastodon-svg-logo' />
                <title>follow me on Mastodon</title>
            </svg></a>.</li>
    </ul>
    <ul>
        <li><a href='/'>Blog</a>.</li>
        <li><a href='/tags'>Tags</a>.</li>
        <li><a href='/rss.xml'>RSS</a>.</li>
        <li><a href='/about/'>About</a></li>
    </ul>
</nav>
